<!-- <div class="container">
  <div *ngFor="let item of cvData.Items">
    <h1>{{item.title}}</h1>
    <p>{{item.description}}</p>
    <ul>
      <li *ngFor="let point of item.points">{{point}}</li>
    </ul>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="info-header mb-5">
        <h1 class="text-primary pb-3">
          Experience
        </h1>
      </div>
      <!-- ACCORDION -->
      <div id="accordion">
        <div class="card" *ngFor="let item of cvData.Items; index as i">
          <div class="card-header">
            <h5 class="mb-0">
              <div attr.href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion">
                <i class="fas fa-arrow-circle-down"></i> {{item.title}}
              </div>
            </h5>
          </div>
          <div attr.id="collapse{{i}}" class="collapse show">
            <div class="card-body">
              <p class="card-text">{{item.description}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>